# Зависимости
node_modules/
.pnpm-store/

# Сборочные артефакты
/dist
/build
/out

# Локальные файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Временные файлы редакторов
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Кэш и временные файлы
.cache/
*.cache
*.log
*.pid
*.seed
*.pid.lock

# Тестирование
/coverage
/test-results/
/playwright-report/
/playwright/.cache/

# Дополнительные файлы для macOS
.DS_Store

# Дополнительные файлы для Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Parcel (если используется)
.parcel-cache

# Vite (если используется)
.vite

# Файлы сборки TypeScript (если используется)
*.tsbuildinfo

# Дополнительные файлы для CI/CD
/.circleci/*
/.github/*
!.github/workflows/